{% extends 'website/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

{% block title %}{% trans "Tcikety Tock - Blogs" %}{% endblock %}

{% if current_language == "ar" %}
{% block style %}
{% endblock %}
{% endif %}


{% block body %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'website/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>Blog</h2>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'index' %}">home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-classic padding-right">

                		<!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="{% static 'website/images/resource/news-4.jpg' %}" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>
		                
						<!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="{% static 'website/images/resource/news-5.jpg' %}" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>

		                <!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="{% static 'website/images/resource/news-6.jpg' %}" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>

		                <!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="{% static 'website/images/resource/news-7.jpg' %}" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>

		                <!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="{% static 'website/images/resource/news-8.jpg' %}" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>
						
					</div>
					
					<!--Styled Pagination-->
					<ul class="styled-pagination">
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><span class="fa fa-angle-right"></span></a></li>
					</ul>                
					<!--End Styled Pagination-->
					
				</div>
				
				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
						
						<!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="templateshub.net">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Enter Search Keywords" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
						</div>
						
						<!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="cat-list">
                                <li><a href="#">Modular Kitchen</a></li>
                                <li><a href="#">Lighting Effect</a></li>
                                <li><a href="#">Interior Tips</a></li>
                                <li><a href="#">Modern Wardrobe</a></li>
                                <li><a href="#">Modern Furniture</a></li>
                                <li><a href="#">Wooden Interior</a></li>
                            </ul>
                        </div>
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>Recent News</h2></div>

                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-detail.html"><img src="{% static 'websiteimages/resource/post-thumb-1.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-detail.html">Hanging fruit to identify a ballpark value added ...</a></div>
                                <div class="post-info">12 April. 2019</div>
                            </article>

                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-detail.html"><img src="{% static 'websiteimages/resource/post-thumb-2.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-detail.html">Organically grow the holistic world view ...</a></div>
                                <div class="post-info">12 April. 2019</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-detail.html"><img src="{% static 'websiteimages/resource/post-thumb-3.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-detail.html">Bring to the table in the win-win survival ...</a></div>
                                <div class="post-info">12 April. 2019</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-detail.html"><img src="{% static 'websiteimages/resource/post-thumb-4.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-detail.html">Override the digital divide with additional ...</a></div>
                                <div class="post-info">12 April. 2019</div>
                            </article>

                        </div>
						
						<!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Tags</h2></div>
                            <a href="#">Interior Tips</a>
                            <a href="#">Lighting</a>
                            <a href="#">Designs</a>
                            <a href="#">Vintage Look</a>
                            <a href="#">Kitchens</a>
                            <a href="#">Kitchens</a>
                        </div>
						
					</aside>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}