{% extends 'website/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

{% block title %}{% trans "Tickety Tock - Artical" %}{% endblock %}


{% block style %}
{% if current_language == "ar" %}
{% endif %}
{% endblock %}




{% block body %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'website/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>{% trans 'Artical Details' %}</h2>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-single padding-right">
						<div class="inner-box">
							<div class="image-box">
                                <figure class="image"><img src="{{ post.image.url }}" alt="{{ post.title }}"></figure>
                                <span class="date">{{ post.created_at }}</span>
                            </div>
                            <div class="lower-content">
                                <div class="post-meta">
                                    <ul class="post-info clearfix">
                                        {% for c in post.category.all %}
                                        <li>{{ c.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
								<div class="lower-box">
									<h3>{{ post.title }}</h3>
									<div class="text">
									    {{ post.content|safe }}
                                    </div>
								</div>
							</div>
						</div>
                    </div>
				</div>
				
				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>{% trans 'Recent Articals' %}</h2></div>

                            {% for p in sposts %}
                            <article class="post">
                            	<figure class="post-thumb"><a href="{% url 'blog-detail' p.slug p.id %}"><img src="{{ p.image.url }}" alt=""></a></figure>
                                <div class="text"><a href="{% url 'blog-detail' p.slug p.id %}">{{ p.title }}</a></div>
                                <div class="post-info">{{ p.created_at }}</div>
                            </article>
                            {% endfor %}

                        </div>
						
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	
{% endblock %}

{% block script %}
    <script src="{% static 'website/js/jquery.bootstrap-touchspin.js' %}"></script>
{% endblock %}