{% extends 'website/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

{% block title %}{% trans "Tcikety Tock - Blogs" %}{% endblock %}

{% if current_language == "ar" %}
{% block style %}

    .shop-pagination .next, .shop-pagination .prev{
        rotate: 180deg;
    }
    .shop-banner-section, .sidebar-page-container {
        direction: rtl;
    }

    .shop-section .title-box h2:before {
        left: auto;
        right: 100%;
    }

    .sidebar-title h2 {
        padding-right: 0px;
    }

    .sidebar-title h2:after {
        right: 100%;
    }
    .cat-list li .parent-cat:after {
        left: 10px;
        right: auto;
    }

    @media only screen and (min-width: 992px) {
        .cat-list li a {
            text-align: right;
        }
    }

{% endblock %}
{% endif %}


{% block body %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'website/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>Blog</h2>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
				<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12" style="padding-top: 100px; text-align: center;">
                    <aside class="sidebar">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <div class="form-group">
                                    <input type="search" id="search" name="search-field" value="" placeholder="Enter Search Keywords" required="">
                                    <button><span class="icon fa fa-search"></span></button>
                            </div>
                        </div>

                        <!--Product Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="cat-list" style="">
                                <li>
                                    <div class="popular-tags">
                                        <a id="category" class="all-filter pressed">All</a>
                                        {% for c in categories %}
                                                                            
                                            <a id="category" class="btn-filter" data-value={{ c.id }}>{{ c.name }}</a>
                                        
                                        {% endfor %}
                                    </div>
                                </li>
                                <div>
                                    <br>
                                </div>
                                <div class="reset-btn-container" data-text="Show All Products"></div>
                            </ul>
                        </div>

                    </aside>
                </div>
                
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                	<div id="blogs-container" class="blog-classic padding-right"></div>
					
                    <div id="empty-message" class="col-lg-12 col-md-12 col-sm-12" style="display: none; animation-duration: 3000ms; animation-delay: 0ms; animation-name: fadeInUp;"><div class="inner-box" style="text-align: center; margin-top: 4rem; margin-bottom: 4rem;"><p style="font-size: 2rem; color: #0066cc;">{% trans "Oops! Seems Empty, reset the filters or try something else" %}</p></div></div>
                    
					<!--Styled Pagination-->
                    <div class="blog-pagination"></div>
					<!--End Styled Pagination-->
					
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
    <script src="{% static 'website/js/blogs.js' %}"></script>
{% endblock %}