{% extends 'website/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

{% block title %}{% trans "Tickety Tock - Contact" %}{% endblock %}


{% block style %}

    .contact-form-section {
        direction: rtl;
    }
{% endblock %}


{% block body %}

     <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'website/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>{% trans 'Contact Us' %}</h2>
        </div>
    </section>
    <!--End Page Title-->

	<!-- Contact Form Section -->
	<section class="contact-form-section" style="background-image:url({% static 'website/images/background/contact.png' %})">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h2>{% trans 'Get In Touch' %}</h2>
				<div class="text">{% trans "Do you have anything in your mind to let us know?  Kindly don't delay to connect to us by means of our contact form." %}</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Form Column -->
				<div class="form-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!-- Contact Form -->
						<div class="contact-form">
								
							<!--Contact Form-->
							<form method="post" action="{% url 'contact' %}" id="contact-form">
                                {% csrf_token %}
								<div class="row clearfix">
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="username" placeholder="Your name" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="email" placeholder="Email address" required>
									</div>
									
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<input type="text" name="subject" placeholder="Subject" required>
									</div>
									
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">Submit now</span></button>
									</div>
								</div>
							</form>
						</div>
						
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!-- Contact Info List -->
						<ul class="contact-info-list">
							<li><strong>{% trans 'Address' %} :</strong><br>{% trans 'Syria, Damascus, Baramkeh' %}</li>
						</ul>
						<!-- Contact Info List -->
						<ul class="contact-info-list">
							<li><strong>{% trans 'Phone' %} : </strong><a href="tel:1800-456-7890">+963-912345678</a></li>
							<li><strong>{% trans 'Email' %} : </strong><a href="mailto:info@ticketytock.com">info@ticketytock.com</a></li>
						</ul>
						<!-- Contact Info List -->
						<ul class="contact-info-list">
							<li><strong>{% trans 'Opening Hours' %} :</strong><br>8:00 AM – 10:00 PM <br> {% trans 'Sunday – Thursday' %}</li>
						</ul>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Contact Form Section -->
	
	<!-- Map Section -->
    <section class="map-section">
        <div class="outer-container">
            <div class="map-outer">
                <div class="map-canvas"
                    data-zoom="12"
                    data-lat="33.504344"
                    data-lng="36.290206"
                    data-type="roadmap"
                    data-hue="#ffc400"
                    data-title="{% trans 'Damascus, Syria, Baramkeh' %}"
                    data-icon-path="{% static 'website/images/icons/map-marker.png' %}"
                    data-content="09123456789 <br> {% trans 'Sun-Thu' %}: 7.00an - 9.00pm">
                </div>
            </div>
        </div>
    </section>
    <!-- End Map Section -->

{% endblock %}


{% block script %}
    <script src="{% static 'website/js/validate.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
    <script src="{% static 'website/js/map-script.js' %}"></script>
{% endblock %}