{% extends 'website/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

{% block title %}{% trans "Tickety Tock - Home" %}{% endblock %}

{% if current_language == "ar" %}
{% block style %}

    @media (min-width:767px) {
        .main-slider .content {
            direction: rtl;
        }
    }

    @media only screen and (max-width: 767px) {
        .main-slider .slide, .main-slider.style-three .slide, .main-slider.style-two .slide, .main-slider.style-four .slide {
            text-align: right;
        }
    }

    .call-to-action-section {
        direction: rtl;
    }
{% endblock %}
{% endif %}

{% block body %}
    <!-- Main Slider -->
	<section class="main-slider">
		<div class="slider-box">
		
			<!-- Banner Carousel -->
			<div class="banner-carousel owl-theme owl-carousel">
			
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url({% static 'website/images/main-slider/1.jpg' %})"></div>
					<div class="auto-container">
						<div class="content">
							<h2>{% blocktrans %}We make your dream <br> style a reality{% endblocktrans %}</h2>
							<div class="text">{% trans "Travel through history with our handwatches that we carefully choose since 1975" %}</div>
							<div class="btns-box">
								<a href="{% url 'products' %}" class="theme-btn btn-style-one"><span class="txt">{% trans "Know more" %}</span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url({% static 'website/images/main-slider/2.jpg' %})"></div>
					<div class="auto-container">
						<div class="content">
							<h2>{% blocktrans %}Customer Support <br>At Any Time You Need it{% endblocktrans %}</h2>
                            <div class="text">{% trans "Your satisfaction is our first goal, so don't hesitate to contact us" %}</div>
							<div class="btns-box">
								<a href="{% url 'contact' %}" class="theme-btn btn-style-one"><span class="txt">{% trans "Know more" %}</span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url({% static 'website/images/main-slider/3.jpg' %})"></div>
					<div class="auto-container">
						<div class="content">
							<h2>{% blocktrans %} We care so <br>We share {% endblocktrans %}</h2>
                            <div class="text">{% trans "stay in the loop of our latest news and offers, by following to our Blog" %}</div>
							<div class="btns-box">
								<a href="{% url 'blogs' %}" class="theme-btn btn-style-one"><span class="txt">{% trans "Know more" %}</span></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Banner Section -->

    <!-- Products Section Three -->
    <section class="services-section-three">
        <div class="auto-container">

            <!-- Sec Title -->
            <div class="sec-title light centered">
                <h2>{% trans "Our Featured Products" %}</h2>
                <div class="text">{% trans "Here are some of our products that you would like" %}</div>
            </div>

            <div class="row clearfix">

                <!-- Service Block -->
                {% for p in products %}
                <div class="service-block-three col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        <div class="image">
                            <a href="products/{{ p.slug }}_{{ p.id }}"><img src="{{ p.image.url }}" alt=""></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="products/{{ p.slug }}_{{ p.id }}">{{ p.name }}</a></h3>
                            <div class="text">{{ p.summary }}</div>
                            <a href="products/{{ p.slug }}_{{ p.id }}" class="read-more">{% trans 'Read more' %}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End Products Section Three -->

    <!-- Counter Section -->
    <section class="counter-section">
        <div class="auto-container">

            <!-- Fact Counter -->
            <div class="fact-counter">
                <div class="row clearfix">

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 0ms; animation-name: none;">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2500" data-stop="49">0</span> {% trans 'Years' %}
                                </div>
                                <h4 class="counter-title">{% trans 'of Hard Work' %}</h4>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 300ms; animation-name: none;">
                            <div class="content">
                                <div class="count-outer count-box alternate">
                                    <span class="count-text" data-speed="3000" data-stop="300">0</span>+
                                </div>
                                <h4 class="counter-title">{% trans 'Products' %}</h4>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 600ms; animation-name: none;">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="15">0</span>+
                                </div>
                                <h4 class="counter-title">{% trans 'Brands' %}</h4>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 900ms; animation-name: none;">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2500" data-stop="24">0</span> {% trans 'Hours' %}
                                </div>
                                <h4 class="counter-title">{% trans 'Customer Service' %}</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Counter Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h2>{% trans "Need a choosing help? Read our blogs" %}</h2>
				<div class="text">{% trans "Stay updated with latest trends, inspiration, expert tips and more" %}</div>
			</div>
			
			<div class="row clearfix">
				
                {% for p in posts %}
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blogs/{{ p.slug }}_{{ p.id }}"><img src="{{ p.image.url }}" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
                                {% for c in p.category.all %}
								<li>{{ c.name }}</li>
                                {% endfor %}
							</ul>
							<h3><a href="blogs/{{ p.slug }}_{{ p.id }}">{{ p.title }}</a></h3>
							<a href="blogs/{{ p.slug }}_{{ p.id }}" class="read-more">{% trans 'Read more' %} <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
			
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image: url({% static 'website/images/background/1.jpg' %})">
		<div class="auto-container">
			<h2>{% trans "All that and more" %}</h2>
			<div class="text">{% trans "Hand Watches for all styles and budgets, Choose from thousands of" %} <br>{% trans "colors, brands and categories" %}</div>
			<a href="contact.html" class="theme-btn btn-style-two"><span class="txt">{% trans "contact us" %}</span></a>
		</div>
	</section>
	<!-- End Call To Action Section -->


{% endblock %}
	
	